.App {
  font-family: sans-serif;
  text-align: center;
  max-width: 40rem;
  margin: 0 auto;
}

.Buttons {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
