

body {
    margin: 0;
    background-color: black;
}

.firstScreen {
    position: relative;
    text-align: center;
    border-bottom: 10px solid gray;
}

.topLeftName, .languageSelector, .topRightSignIn, .firstSignUp {
    position: absolute;
    z-index: 1;
}

#topSectionImg {
    width: 100%;
    display: block;
    overflow: hidden;
    z-index: 0;
    aspect-ratio: 1.8;
    opacity: 0.5;
}

.topLeftName {
    margin: 1rem;
    font-size: 4rem;
    color: red;
}

.languageSelector {
    margin-left: 70rem;
    margin-top: 2rem;
}

.topRightSignIn {
    margin-left: 80rem;
    margin-top: 2rem;
}

.firstSignUp {
    margin-top: -40rem;
    margin-left: 24rem;
    max-width: 50%;
    font-family: sans-serif;
}

#headline {
    color: white;
    font-size: 4rem;
    margin: 0;
}

#subheadline {
    color: white;
    font-weight: lighter;
    font-size: 1.75rem;
}

.containerForm {
    margin-top: 3rem;
}

#formHeading {
    color: white;
    font-weight: lighter;
}

#inputEmail {
    width: 30rem;
    height: 3.67rem;
    margin-right: 0;
    vertical-align: bottom;
}

#btnInputEmail {
    width: 15rem;
    height: 4rem;
    margin-left: -5px;
    margin-top: 3px;
    background-color: red;
    border: none;
    color: white;
    font-size: 2rem;
}

#btnSignIn {
    background-color: red;
    color: white;
    border: none;
    width: 5rem;
    height: 2rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    margin-left: 6rem;
}

#language {
    background-color: black;
    opacity: 0.9;
    border: 1px solid white;
    color: white;
    width: 5rem;
    height: 2rem;
    text-align: center;
    border-radius: 0.15rem;
    font-size: 1rem;
    margin-left: 9rem;
}

.topLeftName {
    font-family: Helvetica, sans-serif;
    font-weight: bolder;
    font-stretch: condensed;

}

.secondScreen {
    color: white;
}

div .secondScreen{
    float: left; /* couldnt figure out any other way*/
    
}

.secondScreenText, .secondScreenMedia {
    float: left;
    width: 50%;
    margin-top: 4rem;
}

/*https://stackoverflow.com/questions/38353388/inserting-a-video-over-an-image-with-css-and-html