* {
  margin: 0;
}

html,
body {
  height: 100%;
}

#root {
  height: 100%;
}

.App {
  font-family: sans-serif;
  text-align: center;
  height: 100%;
}

#btnDarkMode {
  border: 1px solid;
  border-radius: 0.5rem;
  padding: 0.5rem;
  font-size: large;
  font-weight: bold;
}
