* {
    margin:0;
}

header {
    text-align: center;
}

.container {
    border: 1px solid black;
    max-width: 90%;
    margin: 2rem auto;
    height: 30rem;
}

.thisGoesUp, .thisGoesDown, .thisGoesLeft, .thisGoesRight {
    padding: 2rem;
    margin: 2rem auto;
    text-align: center;
    max-width: 80%;
}

@keyframes upwards {
    from {transform: translateY(1rem); background-color: black; color: white;}
    to {transform: translateY(0rem);}
}

.thisGoesUp {
    animation-name: upwards;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

/* I could have used animation-direction: reverse here*/
@keyframes downwards {
    from {transform: translateY(-1rem); background-color: black; color: white;}
    to {transform: translateY(0rem);}
}

.thisGoesDown {
    animation-name: downwards;
    animation-duration: 2s;
    /*animation-delay: 2s;*/
    animation-iteration-count: infinite;
}

@keyframes leftwards {
    from {transform: translateX(0rem); background-color: black; color: white;}
    to {transform: translateX(-6rem);}
}

.thisGoesLeft {
    animation-name: leftwards;
    animation-duration: 2s;
    /*animation-delay: 4s;*/
    animation-iteration-count: infinite;
}
/* I could have used animation-direction: reverse here*/
@keyframes rightwards {
    from {transform: translateX(0rem); background-color: black; color: white;}
    to {transform: translateX(6rem);}
}

.thisGoesRight {
    animation-name: rightwards;
    animation-duration: 2s;
    /*animation-delay: 6s;*/
    animation-iteration-count: infinite;
}

/*-------------------- Part 2 animations -------------*/
.upDown, .downUp, .leftRight, .rightLeft {
    padding: 2rem;
    margin: 2rem auto;
    text-align: center;
    max-width: 80%;
}

@keyframes upAndDown {
    from {transform: translateY(1rem); background-color: black; color: white;}
    to {transform: translateY(-1rem);}
}

.upDown {
    animation-name: upAndDown;
    animation-duration: 1s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

.downUp {
    animation-name: upAndDown;
    animation-duration: 1s;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
}

@keyframes leftAndRight {
    from {transform: translateX(6rem); background-color: black; color: white;}
    to {transform: translateX(-6rem);}
}


.leftRight {
    animation-name: leftAndRight;
    animation-duration: 1s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

.rightLeft {
    animation-name: leftAndRight;
    animation-duration: 1s;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
}

/*---------------Part 3 Animations -------------*/
.ballMovement {
    text-align: center;
}

.ball {
    position: absolute;
}

.first, .second, .third, .fourth, .fifth {
    width: 20px;
    height: 20px;
    background-color: black;
    border-radius: 20px;
    display: inline-block;
}

@keyframes ballDiagDown {
    0% {transform:translate(0, 0); background-color: aqua;}
    25% {transform: translate(-20.5rem, 15rem); background-color: blue;}
    50% {transform: translate(0rem, 28.8rem); background-color: aquamarine;}
    75% {transform: translate(19.5rem, 15rem); background-color: blue;}
    100% {transform: translate(0, 0); background-color: aqua;}
}

.first {
    animation-name: ballDiagDown;
    animation-duration: 8s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes ballDiagSlant {
    0% {transform:translate(0, 0); background-color: orange;}
    20% {transform: translate(-20.5rem, 5.7rem); background-color: red;}
    40% {transform: translate(19.5rem, 11.4rem); background-color: orange;}
    60% {transform: translate(-20.5rem, 17.1rem); background-color: red;}
    80% {transform: translate(19.5rem, 22.8rem); background-color: orange;}
    100% {transform: translate(-20.5rem, 28.5rem); background-color: red;}
}

.second {
    animation-name: ballDiagSlant;
    animation-duration: 8s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.third {
    animation-name: ballDiagSlant;
    animation-duration: 8s;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes ballStar {
    0% {transform:translate(0, 0); background-color: greenyellow;}
    20% {transform: translate(-17.5rem, 28.5rem); background-color: green;}
    40% {transform: translate(19.5rem, 15rem); background-color: greenyellow;}
    60% {transform: translate(-19.5rem, 15rem); background-color: green;}
    80% {transform: translate(17.5rem, 28.5rem); background-color: greenyellow;}
    100% {transform: translate(0rem, 0rem); background-color: green;}
}

.fourth {
    animation-name: ballStar;
    animation-duration: 8s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.fifth {
    animation-name: ballStar;
    animation-duration: 8s;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}